@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/GothamPro/GothamPro-BoldItalic.eot');
  src: local('../fonts/GothamPro/Gotham Pro Bold Italic'), local('GothamPro-BoldItalic'),
    url('../fonts/GothamPro/GothamPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro/GothamPro-BoldItalic.woff') format('woff'),
    url('../fonts/GothamPro/GothamPro-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/GothamPro/GothamPro-Italic.eot');
  src: local('../fonts/GothamPro/Gotham Pro Italic'), local('GothamPro-Italic'),
    url('../fonts/GothamPro/GothamPro-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro/GothamPro-Italic.woff') format('woff'),
    url('../fonts/GothamPro/GothamPro-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/GothamPro/GothamPro-Medium.eot');
  src: local('../fonts/GothamPro/Gotham Pro Medium'), local('GothamPro-Medium'),
    url('../fonts/GothamPro/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro/GothamPro-Medium.woff') format('woff'),
    url('../fonts/GothamPro/GothamPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/GothamPro/GothamPro-BlackItalic.eot');
  src: local('../fonts/GothamPro/Gotham Pro Black Italic'), local('GothamPro-BlackItalic'),
    url('../fonts/GothamPro/GothamPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro/GothamPro-BlackItalic.woff') format('woff'),
    url('../fonts/GothamPro/GothamPro-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/GothamPro/GothamPro-Bold.eot');
  src: local('../fonts/GothamPro/Gotham Pro Bold'), local('GothamPro-Bold'),
    url('../fonts/GothamPro/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro/GothamPro-Bold.woff') format('woff'),
    url('../fonts/GothamPro/GothamPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro Narrow';
  src: url('../fonts/GothamPro/GothamProNarrow-Bold.eot');
  src: local('../fonts/GothamPro/Gotham Pro Narrow Bold'), local('GothamProNarrow-Bold'),
    url('../fonts/GothamPro/GothamProNarrow-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro/GothamProNarrow-Bold.woff') format('woff'),
    url('../fonts/GothamPro/GothamProNarrow-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro Narrow';
  src: url('GothamProNarrow-Medium.eot');
  src: local('../fonts/GothamPro/Gotham Pro Narrow Medium'), local('GothamProNarrow-Medium'),
    url('../fonts/GothamPro/GothamProNarrow-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro/GothamProNarrow-Medium.woff') format('woff'),
    url('../fonts/GothamPro/GothamProNarrow-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/GothamPro/GothamPro-LightItalic.eot');
  src: local('../fonts/GothamPro/Gotham Pro Light Italic'), local('GothamPro-LightItalic'),
    url('../fonts/GothamPro/GothamPro-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro/GothamPro-LightItalic.woff') format('woff'),
    url('../fonts/GothamPro/GothamPro-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/GothamPro/GothamPro-Light.eot');
  src: local('../fonts/GothamPro/Gotham Pro Light'), local('GothamPro-Light'),
    url('../fonts/GothamPro/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro/GothamPro-Light.woff') format('woff'),
    url('../fonts/GothamPro/GothamPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/GothamPro/GothamPro-Black.eot');
  src: local('../fonts/GothamPro/Gotham Pro Black'), local('GothamPro-Black'),
    url('../fonts/GothamPro/GothamPro-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro/GothamPro-Black.woff') format('woff'),
    url('../fonts/GothamPro/GothamPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/GothamPro/GothamPro.eot');
  src: local('../fonts/GothamPro/Gotham Pro'), local('GothamPro'),
    url('../fonts/GothamPro/GothamPro.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro/GothamPro.woff') format('woff'),
    url('../fonts/GothamPro/GothamPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/GothamPro/GothamPro-MediumItalic.eot');
  src: local('../fonts/GothamPro/Gotham Pro Medium Italic'), local('GothamPro-MediumItalic'),
    url('../fonts/GothamPro/GothamPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro/GothamPro-MediumItalic.woff') format('woff'),
    url('../fonts/GothamPro/GothamPro-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none
}

body {
  min-width: 320px;
  overflow-x: hidden;
  font-family: 'Gotham Pro';
  font-weight: normal;
  font-size: 14px;
  transition: unset;
  max-width: 1920px;
  margin: 0 auto !important
}

* {
  -moz-transition: all 0.3s ease;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
}

img {
  max-width: 100%;
}

.logo_item img {
  padding: 10px;
  max-height: 100%;
}

.main_content {
  margin: 40px 0;
  background: #fff;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 20px 0;
}

#menu {
  display: none;
}

.margin-bottom-30 {
  margin-bottom: 30px !important;
}

.newsletter-button {
  font-family: 'Gotham Pro';
  font-weight: normal;
  font-size: 14px;
  box-shadow: 0px 10px 10px rgb(0 0 0 / 10%);
}

@media (min-width: 1000px) {
  .newsletter-button:hover {
    color: #000;
    background: #fbba01;
    text-decoration: none;
  }
}

.navbar-toggler {
  display: none;
}

.header__top {
  background: #272626;
}

.header__top__row {
  display: flex;
  flex-wrap: wrap;
}

.header__top__col-menu {
  max-width: 800px;
  width: 100%;
}

.header__top__col-phone {
  max-width: 370px;
  width: 100%;
}

.header_top_phone {
  background: #F4F4F4;
  height: 100%;
  padding: 19px 15px 20px 23px;
  line-height: 1.5;
}

.header_top_phone_row {
  margin-left: -10px;
  margin-right: -10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.header_phone {
  font-size: 16px;
  color: #272626;
  max-width: 50%;
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  white-space: nowrap;
  text-align: center;
}

.header__contacts {
  color: #000
}

.contacts_info {
  position: relative;
}

.contacts_work_icon {
  position: absolute;
  top: 0;
  left: -21px;
}

.contacts_address_icon {
  position: absolute;
  top: 0;
  left: -21px;
}

.header__contacts-info {
  color: #272626;
  font-size: 16px;
  margin-bottom: 15px;
}

.top__btn {
  text-align: center;
}

.header__contacts-ref {
  color: #FFCC00;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  display: block
}

.header__contacts-ref:hover {
  text-decoration: underline;
  color: #000
}

.scrollTo {
  text-align: center;
  margin-top: 20px
}

.navigation__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: flex-start;
  padding-top: 32px;
  padding-bottom: 31px;
  margin-bottom: 0;
}

.navigation__menu li {
  position: relative;
  padding-right: 25px;
}

.navigation__menu li ul {
  position: absolute;
  width: 265px;
  -webkit-box-shadow: 0 11px 21px rgba(0, 0, 0, .2);
  box-shadow: 0 11px 21px rgba(0, 0, 0, .2);
  background-color: #fff;
  left: 0;
  top: 55px;
  opacity: 0;
  visibility: hidden;
  z-index: 5;
  -webkit-transition: all .3s linear .3s;
  -o-transition: all .3s linear .3s;
  transition: all .3s linear .3s
}

.navigation__menu li ul ul {
  left: 265px;
  top: 0;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .2);
  box-shadow: 0 0 1px rgba(0, 0, 0, .2);
  -webkit-transition: all .3s linear .1s;
  -o-transition: all .3s linear .1s;
  transition: all .3s linear .1s
}

.navigation__menu li ul a {
  color: #000;
  display: block;
  font-weight: bold;
  padding: 15px 25px 15px 20px;
}

.navigation__menu li ul a:after,
.navigation__menu li ul a:hover:before {
  display: none
}

.navigation__menu li ul a:hover {
  background: #f61c1c;
  color: #fff
}

.navigation__menu li:hover>ul {
  opacity: 1;
  visibility: visible
}

.navigation__menu a {
  color: #FFF;
  text-transform: uppercase;
  font-size: 14px;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  position: relative
}

.navigation__menu a:hover {
  color: #FFCC00;
}

.header__info {
  background: #F4F4F4;
}

.header__info__row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: block;
}

.header__top__col-address {
  max-width: 277px;
}

.header__top__col-work {
  max-width: 230px;
}

.header__top__col-btn {
  max-width: 371px;
  width: 100%;
}

.top__btn {
  width: 304px;
  margin: auto
}

.header__slider h1,
.header__slider p {
  display: inline-block;
  padding: 10px 35px;
  background-color: rgba(255, 255, 255, .8);
}

.header__slider .swiper-slide {
  text-align: left;
  padding: 100px 0 110px;
  position: relative;
  height: 500px;
}

.header__slider .swiper-slide:after {
  content: '';
  width: 100%;
  max-width: 1140px;
  height: 95%;
  border: 2px solid #FFCC00;
  position: absolute;
  left: 50%;
  bottom: -20px;
  z-index: -1;
  display: inline-block;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%)
}

.header__slider-btns {
  position: relative
}

.header__slider-title {
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
  margin-left: 70px
}

.header__slider-desc {
  color: #000;
  margin-bottom: 20px;
  margin-left: 70px
}

.header__slider-more {
  text-transform: uppercase;
  color: #000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 175px;
  height: 50px;
  background-color: #FFCC00;
  margin-left: 70px
}

.header__slider-more:hover {
  background: #000
}

.header__slider .swiper-container1 {
  padding-bottom: 45px;
  position: relative
}

.header__slider .swiper-pagination-bullet {
  width: 20px;
  height: 2px;
  background: #000;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear
}

.header__slider .swiper-pagination-bullet-active {
  background: #FFCC00;
  width: 60px;
  height: 3px;
  display: inline-block
}

.slider-btns {
  position: relative;
}

.object__partners-slider {
  position: relative;
  padding-right: 41px;
  padding-left: 41px;
}

section.object__partners-slider-wrp .slider-btns__container,
.slider-btns__container {
  overflow-x: visible;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.owl-carousel.owl-partners .owl-nav .owl-prev,
.owl-carousel.owl-partners .owl-nav .owl-next,
.owl-carousel.owl-partners .owl-nav .owl-prev:hover,
.owl-carousel.owl-partners .owl-nav .owl-next:hover,
.owl-carousel.owl-partners .owl-nav .owl-prev:focus,
.owl-carousel.owl-partners .owl-nav .owl-next:focus {
  outline: none;
  border: none;
  font-size: 0;
}

.owl-carousel.owl-partners .owl-nav .owl-prev {
  background: url(../img/arrow_left_black.svg) no-repeat center center;
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  top: 50%;
  left: -37px;
  transform: translateY(-50%);
}

.owl-carousel.owl-partners .owl-nav .owl-prev:hover {
  background: url(../img/arrow_left_yellow.svg) no-repeat center center;
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  top: 50%;
  left: -37px;
  transform: translateY(-50%);
}

.owl-carousel.owl-partners .owl-nav .owl-next {
  background: url(../img/arrow_right_black.svg) no-repeat center center;
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  top: 50%;
  right: -37px;
  transform: translateY(-50%);
}

.owl-carousel.owl-partners .owl-nav .owl-next:hover {
  background: url(../img/arrow_right_yellow.svg) no-repeat center center;
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  top: 50%;
  right: -37px;
  transform: translateY(-50%);
}

.services {
  background: url(../img/objects/4.jpg) no-repeat 50% 50% / cover;
  position: relative;
}

.services:after,
.services:before {
  content: '';
  height: 230px;
  width: 1px;
  position: absolute;
  top: -65px
}

.services:after {
  background: #FFCC00;
  right: 5%;
  z-index: 1
}

.services:before {
  background: #000;
  left: 5%;
  z-index: 2
}

.services__title {
  color: #fff;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

.services__info,
.object__info {
  position: relative;
  z-index: 1;
  padding: 30px 0
}

.services__info p {
  font-size: 12px;
  line-height: 1.4;
}

.project .tab-menu li,
.services__menu a {
  color: #fff;
  position: relative
}

.services__menu a {
  padding: 5px 15px 5px 35px;
  display: block;
  line-height: 1.6;
}

.services__menu a:after,
.services__menu a:before {
  content: '';
  position: absolute;
}

.services__menu a:after {
  background-color: #fff;
  height: 1px;
  width: 15px;
  left: 0;
  top: 14px;
  display: inline-block
}

.services__menu a:before {
  background: rgba(255, 255, 255, .2);
  height: 100%;
  width: 100%;
  left: -100%;
  top: 0;
  display: block;
  opacity: 0
}

.object .services__menu a:before {
  right: -100%;
  left: auto;
}

.object .services__title {
  margin-left: 45px;
}

.object .services__menu a {
  padding-left: 70px;
}

.object .services__menu a:after {
  left: 45px;
}

.object .services__menu a:hover:after {
  left: 30px;
}

.object .services__all {
  margin-left: 45px;
}

.services__menu a:hover {
  color: #000;
  background: rgba(255, 255, 255, .2)
}

.services__menu a:hover:after {
  background-color: #000;
  width: 25px;
  left: -10px
}

.project .tab-menu li.active:before,
.services__menu a:hover:before {
  opacity: 1
}

=.sphere {
  background: url(../img/sphere.png) no-repeat center/cover;
  position: relative
}

.sphere:after,
.sphere:before {
  content: '';
  background: #fff;
  height: 230px;
  width: 1px;
  position: absolute;
  top: -65px
}

.sphere:after {
  right: 5%;
  z-index: 2
}

.sphere:before {
  left: 5%;
  z-index: 1
}

.sphere__wrap {
  overflow: hidden
}

.sphere__info {
  position: relative;
  z-index: 1;
  padding: 105px 0
}

.sphere__info:before {
  content: '';
  background-color: rgba(255, 0, 0, .8);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  z-index: -1
}

.sphere .services__menu a {
  padding-left: 70px
}

.sphere .services__menu a:before {
  left: 100%
}

.sphere .services__menu a:after {
  left: 45px
}

.sphere .services__menu a:hover:after {
  left: 30px
}

.sphere .services__title {
  margin-left: 45px
}

.project {
  background: url(../img/project.png) no-repeat center/cover;
  padding-bottom: 70px;
  position: relative
}

.project:before {
  background: #FFCC00;
  height: 252px;
  right: 8%;
  top: -15%;
  z-index: 2
}

.project .container:before,
.project .tab-menu li:before,
.project:after,
.project:before {
  content: '';
  width: 1px;
  position: absolute;
  display: inline-block
}

.project:after {
  background: #fff;
  right: 5%;
  top: 10%;
  z-index: 2;
  height: 300px
}

.project__subTitle,
.project__title {
  text-align: center;
  color: #fff;
  position: relative;
  z-index: 2
}

.project__title {
  text-transform: uppercase;
  padding: 105px 0 35px;
}

.project__subTitle {
  padding-bottom: 50px;
}

.project__desc {
  padding-bottom: 100px;
  color: #fff
}

.project .tab-menu,
.project__row {
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.project__item {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  padding: 0 15px
}

.project__item-img {
  margin-bottom: 60px
}

.project__item-desc {
  color: #aeaeae;
}

.project .tab-menu {
  padding-bottom: 70px
}

.project .tab-menu li {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
  width: 240px;
  z-index: 1
}

.project .tab-menu li span {
  display: inline-block;
  margin-bottom: 25px
}

.project .tab-menu li.active {
  color: #FFCC00;
  border-color: #FFCC00;
}

.project .container:before {
  background: #FFCC00;
  height: 152px;
  left: -10%;
  bottom: 10%
}

.project .container:after {
  background: #fff;
  height: 302px;
  left: -5%;
  bottom: -30%
}

.object,
.project .container,
.why {
  position: relative
}

.object {
  background: url(../img/objects/fasad/TOY.RU/IMG-428.jpg) no-repeat center/cover
}

.object:after,
.object:before,
.project .container:after {
  content: '';
  width: 1px;
  position: absolute;
  display: inline-block;
  z-index: 2
}

.object:before {
  background: #242424;
  left: 5%;
  top: 25%;
  height: 83px
}

.object:after {
  background: #fff;
  height: 303px;
  right: 5%;
  bottom: -25%
}

.why {
  background: url(../img/why.png) no-repeat center/cover;
  padding-top: 92px;
  padding-bottom: 42px;
}

.why .section_title {
  color: #fff;
}

.why:after,
.why__info:before {
  content: '';
  width: 1px;
  position: absolute;
  background: #FFCC00;
}

.why:after {
  right: 5%;
  bottom: -15%;
  height: 252px;
  display: block
}

.why__title {
  color: #fff;
}

.why__info {
  position: relative;
  color: #fff;
  margin-bottom: 180px
}

.why__info:before {
  height: 267px;
  left: -10%;
  top: -75px;
  display: inline-block
}

.why__intro {
  margin-bottom: 30px;
}

.why__item,
.why__row {
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.why__row+.why__row {
  margin-top: 20px;
}

.why__item {
  position: relative;
  margin: 0 15px;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  z-index: 1;
  min-height: 215px;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear
}

.why__item-img {
  min-height: 233px;
}

.why__item-name {
  color: #fff;
  margin-top: 60px;
  font-size: 20px;
}

.why__item-more {
  margin-top: 76px;
  color: #272626;
  padding-bottom: 97px;
}

.why__item-more a {
  color: #272626;
  text-decoration-line: underline;
}

.why__item:before {
  background: #FFCC00;
  width: 100%;
  height: 0;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  z-index: -1;
  left: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  display: block
}

.why__item:hover:before {
  opacity: 1;
  visibility: visible;
  height: 100%
}

.why__item:hover .why__item-name {
  color: #272626
}

.news {
  background: #fff;
  padding: 100px 0 120px;
  position: relative;
  z-index: 1
}

.news:after,
.news:before,
.why__item:before {
  content: '';
  position: absolute
}

.news__row {
  display: inline-block;
  margin-bottom: 60px
}

.news__item {
  display: inline-block;
  float: left;
  width: 49%;
  margin-right: 20px
}

.news__item:nth-child(2),
.news__item:nth-child(3),
.news__item:nth-child(4) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0;
  margin-bottom: 15px
}

.news__item:nth-child(2) .news__image,
.news__item:nth-child(3) .news__image,
.news__item:nth-child(4) .news__image {
  max-width: 165px;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  margin-bottom: 0
}

.news__item:nth-child(2) .news__name,
.news__item:nth-child(3) .news__name,
.news__item:nth-child(4) .news__name {
  font-size: 20px;
  margin-bottom: 15px
}

.news__item:nth-child(2) .news__info,
.news__item:nth-child(3) .news__info,
.news__item:nth-child(4) .news__info {
  margin-left: 20px
}

.news__item:nth-child(2) .news__shortDesc,
.news__item:nth-child(3) .news__shortDesc,
.news__item:nth-child(4) .news__shortDesc {
  font-size: 15px;
  line-height: 20px
}

.news__item:nth-child(2) .news__public,
.news__item:nth-child(3) .news__public,
.news__item:nth-child(4) .news__public {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start
}

.news__item:nth-child(2) .news__date,
.news__item:nth-child(3) .news__date,
.news__item:nth-child(4) .news__date {
  margin-right: 25px
}

.object__partners-slider .swiper-slide {
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 249px;
  height: 105px;
  padding: 26px 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.object__partners-slider-wrp {
  background: #F4F4F4;
  padding: 96px 0;
}

.object__partners-slider-wrp .container {
  overflow-x: hidden;
}

.news__title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 60px;
  color: #000
}

.news__image,
.news__public {
  margin-bottom: 20px
}

.news__public {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #000
}

.news__comments,
.news__date,
.news__public {
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}

.footer__contacts li img,
.news__comments img,
.news__date img {
  margin-right: 10px
}

.news__name {
  color: #000;
  display: inline-block;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  margin-bottom: 25px
}

.footer__list a:hover,
.news__name:hover {
  color: #d83355;
  text-decoration: underline
}

.news__shortDesc {
  color: #000;
}

.news__all {
  text-align: center;
  width: 298px;
  height: 50px;
  margin: 0 auto;
  background-color: #FFCC00;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear
}

.news__all:hover {
  -webkit-transform: scale(.9);
  -ms-transform: scale(.9);
  transform: scale(.9)
}

.newsletter {
  background: #E5E5E5;
  padding: 92px 0;
  position: relative;
  color: #000;
}

.newsletter .section_title {
  margin-bottom: 20px;
}

.newsletter:after,
.newsletter:before {
  height: 77px;
  width: 1px;
  background: #fff;
  display: inline-block
}

.newsletter:before {
  content: '';
  position: absolute;
  left: 5%;
  bottom: 10%
}

.newsletter:after {
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #ffffff52;
}

.newsletter .container {
  position: relative;
  z-index: 2;
}

.newsletter__title {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 35px
}

.newsletter__desc {
  font-size: 25px;
  text-align: center;
  margin-bottom: 47px
}

.newsletter__form {
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 50px
}

.newsletter__form button,
.newsletter__form input {
  width: 370px;
  height: 50px;
  outline: 0;
  cursor: pointer;
  border: 0;
  margin: 0 15px;
  background: #FFCC00;
}

.newsletter__form input.person {
  margin-left: 0;
}

input {
  font-size: 17px;
}

.newsletter__form button[type="submit"] {
  margin-right: 0;
}

.newsletter__form input {
  background: 0 0;
  padding: 16px 61px;
  box-sizing: border-box;
  border-radius: 3px;
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 3px;
}

.newsletter__form input::-webkit-input-placeholder {
  color: #000;
}

.newsletter__form input::-ms-input-placeholder {
  color: #000;
}

.newsletter__form input::-ms-input-placeholder {
  color: #000;
}

.newsletter__form input::placeholder {
  color: #000
}

.newsletter__form .person {
  background: url(../img/person.svg)#fff no-repeat 16px 50%
}

.newsletter__form .phone {
  background: url(../img/mobile.svg)#fff no-repeat 16px 50%
}

.newsletter__form input[type="submit"] {
  text-transform: uppercase;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  border-bottom: transparent;
  padding: 0;
  color: #272626;
  font-weight: 700;
  background: #FFCC00;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.newsletter__info,
.newsletter__info a {
  text-decoration: none;
  color: #4F4E4D;
}

.newsletter__info {
  text-align: center;
  color: #4F4E4D;
  font-size: 16px;
}

.newsletter__info * {
  transition: none !important;
}

.newsletter__info a {
  text-decoration: underline
}

.newsletter__info span {
  color: #d62b2b
}

.about {
  padding: 95px 0 55px;
  position: relative;
  z-index: 1
}

.about:after,
.about:before,
.newsletter:after {
  content: '';
  position: absolute
}

.about:before {
  background: #FFCC00;
  top: -8%;
  display: inline-block;
  width: 1px;
  height: 147px;
  right: 10%;
  z-index: 1
}

.about:after {
  width: 228px;
  height: 100%;
  right: 5%;
  bottom: 0;
  z-index: -1;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(211, 43, 41, .5)), color-stop(95%, transparent));
  background: -webkit-linear-gradient(bottom, rgba(211, 43, 41, .5) 0%, transparent 95%);
  background: -o-linear-gradient(bottom, rgba(211, 43, 41, .5) 0%, transparent 95%);
  background: linear-gradient(to top, rgba(211, 43, 41, .5) 0%, transparent 95%)
}

.about__desc,
.about__title {
  color: #000;
  margin-bottom: 40px
}

.about__title {
  position: relative;
}

.about__subtitle {
  position: relative;
  margin: 10px auto 15px;
}

.about__title:before,
.footer:before {
  content: '';
  width: 1px;
  position: absolute;
  display: inline-block
}

.about__title:before {
  background: #242424;
  height: 55px;
  top: 0;
  left: -10%
}

.about p {
  margin-bottom: 15px;
}

.up {
  border: 0;
  outline: 0;
  background: 0 0;
  cursor: pointer;
  position: fixed;
  right: 20px;
  bottom: 5%;
  z-index: 2;
  display: none
}

.footer {
  position: relative;
}

.footer__top__wrap {
  background: #F4F4F4;
  padding-top: 57px;
  padding-bottom: 52px;
}

.footer__bottom__wrap {
  background: #EDEDED;
  padding-top: 38px;
  padding-bottom: 38px;
}

.footer__top {
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__item {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column
}

.footer__item-name {
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 500;
  color: #000;
}

.footer__contacts li,
.footer__list a {
  margin-bottom: 10px
}

.footer__contacts li {
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}

.footer__contacts li span {
  padding: 0 5px
}

.footer__list a,
.footer__social a {
  color: #000;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear
}

.footer__list a {
  display: inline-block;
  position: relative;
  padding-left: 0
}

.footer__list a:hover {
  color: #FFCC00;
}

.footer__social {
  display: flex
}

.social_link {
  width: 39px;
  height: 39px;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 27px;
  background: #ABA7A6;
  border-radius: 50%;
}

.footer__social li:last-child .social_link {
  margin-right: 0;
}

.social_link:hover {
  background: #00BBE7;
}

.footer__bottom {
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-items: center;
}

.contacts__download img,
.footer__logo {
  margin-right: 10px
}

.footer__logo {
  width: 197px;
  position: relative;
  padding-right: 28px;
  margin-right: 28px;
}

.footer__logo:after {
  content: '';
  background: #000;
  width: 1px;
  height: 57px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.footer__logo img {
  display: block;
  width: 100%;
}

.footer__copy {
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__copy-privacy,
.footer__develop {
  text-decoration: underline;
  color: #000;
}

.footer__develop {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.footer__develop img {
  max-width: 100px;
  margin-bottom: 6px;
}

.modal__recall,
.overlay {
  position: fixed;
  display: none
}

.overlay {
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .6);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 15
}

.modal__recall {
  left: 50%;
  top: 50%;
  z-index: 16;
  width: 945px;
  height: auto;
  padding: 40px 0;
  background-color: #fff;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

.modal__recall-title {
  text-align: center;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 50px
}

.modal__recall button[type="submit"] {
  font-size: 20px;
  margin-left: 0;
  margin-top: 20px;
}

.closeModal {
  border: 0;
  cursor: pointer;
  outline: 0;
  background: 0 0;
  position: absolute;
  right: 0;
  top: -30px;
  color: #fff;
}

.breadcrumbs {
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}

.breadcrumbs a,
.getInfo input {
  color: #000
}

.breadcrumbs a {
  padding-right: 15px;
  margin-right: 15px;
  position: relative
}

.breadcrumbs a:hover {
  text-decoration: underline
}

.about__numbers:after,
.breadcrumbs a:after {
  content: '';
  position: absolute;
  display: inline-block
}

.breadcrumbs a:after {
  background: url(../img/line.svg) no-repeat center;
  width: 10px;
  height: 7px;
  right: 0;
  top: 8px
}

.breadcrumbs li.active a {
  color: #FFCC00;
}

.breadcrumbs li.active a:after {
  display: none
}

.about__content {
  overflow: hidden;
  background: #fff
}

.about__content-title {
  color: #000;
  text-transform: uppercase;
  margin-bottom: 40px;
  margin-left: 20px
}

.about__content-desc {
  color: #000;
  margin-bottom: 30px;
  margin-left: 20px
}

.about__content .services__info {
  padding: 60px 37px;
  margin-top: 84px;
}

.about__content .services__info:before {
  background: url(../img/aboutcontent.png) no-repeat right;
  min-height: 100%
}

.about__content .services__menu {
  margin-bottom: 0
}

.about__numbers {
  text-align: center;
  background: #fff;
  position: relative;
  padding: 80px 0 100px
}

.about__numbers:after {
  background: #f33;
  height: 203px;
  width: 1px;
  right: 5%;
  top: -5%
}

.about__numbers-row {
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.about__numbers-item {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column
}

.about__numbers-image {
  height: 170px;
}

.about__numbers-title {
  text-transform: uppercase;
  margin-bottom: 60px;
  color: #000
}

.about__numbers-text {
  color: #000;
  margin-top: 10px;
  text-transform: uppercase
}

.about__advItem {
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
  margin-bottom: 50px
}

.about__advImage {
  max-width: 70px;
  margin-right: 30px;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%
}

.about__advName {
  text-transform: uppercase;
  color: #000;
  margin-bottom: 25px
}

.about__advDesc {
  color: #000
}

.faq {
  background: #fff;
  padding: 50px 0 80px
}

.faq__title {
  margin-bottom: 40px;
  text-transform: uppercase;
  color: #000;
}

.faq__item {
  -webkit-box-shadow: 0 11px 21px rgba(0, 0, 0, .2);
  box-shadow: 0 11px 21px rgba(0, 0, 0, .2);
  background-color: #fff;
  margin-bottom: 20px;
  padding: 25px 20px;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear
}

.faq__name {
  margin-bottom: 20px;
  color: #000;
  cursor: pointer;
  position: relative;
}

.faq__name:after {
  content: '+';
  background: red;
  width: 32px;
  height: 32px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 10%;
  right: 0;
}

.faq__name.active:after {
  content: '-';
}

.faq__desc {
  color: #000
}

.newsPage {
  background: #fff;
  padding: 50px 0 80px
}

.newsPage__title {
  margin-bottom: 40px;
  text-transform: uppercase;
  color: #000;
}

.newsPage__row {
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.newsPage__item {
  margin: 10px;
  -webkit-flex-basis: 31%;
  -ms-flex-preferred-size: 31%;
  flex-basis: 31%;
  min-height: 239px;
  -webkit-box-shadow: 0 5px 13px rgba(0, 0, 0, .23);
  box-shadow: 0 5px 13px rgba(0, 0, 0, .23);
  background-color: #fff;
  padding: 24px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.newsPage__readMore {
  color: #000;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  position: relative
}

.newsPage__readMore:after {
  content: '>';
  position: absolute;
  padding-left: 10px;
  padding-top: 2px
}

.newsPage__readMore:hover {
  color: #FFCC00;
  text-decoration: underline
}

.newsPage__showMore {
  width: 198px;
  height: 50px;
  background-color: #FFCC00;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 25px auto 0;
  text-transform: uppercase;
  color: #fff;
}

.newsPage .news__name {
  font-size: 20px;
  margin-bottom: 10px;
  text-decoration: none
}

.newsPage .news__shortDesc {
  margin-bottom: 15px
}

.singleNews__image {
  margin-bottom: 50px;
  position: relative
}

.singleNews__image .news__public {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  color: #fff;
  position: absolute;
  left: 25px;
  top: 25px
}

.singleNews__image .news__date {
  margin-right: 25px
}

.singleNews__desc p {
  margin-bottom: 15px;
}

.servicesPage .servicesBg:before {
  background: url(../img/servicesBg.png) no-repeat right/contain
}

.servicesPage__title {
  color: #000;
  text-transform: uppercase;
  margin-bottom: 40px
}

.servicesPage__link {
  max-width: 658px;
  width: 100%;
  display: flex;
  height: 250px;
  margin-bottom: 30px;
  padding: 20px 20px 15px;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  opacity: .5;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear
}

.servicesPage__link:hover {
  opacity: 1;
  -webkit-box-shadow: inset 1px 0 20px 9px rgba(0, 0, 0, .6), 0 7px 20px rgba(0, 0, 0, .5);
  box-shadow: inset 1px 0 20px 9px rgba(0, 0, 0, .6), 0 7px 20px rgba(0, 0, 0, .5)
}

.servicesPage__link:hover .servicesPage__name {
  color: #fff
}

.servicesPage__name {
  text-transform: uppercase;
  color: #000;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear
}

.getInfo {
  /* background: url(../img/getInfo.png) no-repeat center/cover; */
  background: #F4F4F4;
  padding: 100px 0
}

.getInfo__subTitle,
.getInfo__title {
  text-align: center;
  margin-bottom: 25px;
  color: #000
}

.getInfo__subTitle {
  margin-bottom: 70px
}

.getInfo__form {
  position: relative;
  max-width: 875px;
  width: 100%;
  margin: 0 auto
}

.getInfo__fileText {
  text-align: center;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 15px
}

.getInfo__or {
  text-align: center;
  margin-bottom: 2px;
  color: #000
}

.getInfo__notify {
  color: #6e6e6e;
  text-align: center
}

.getInfo__row {
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}



.getInfo__field {
  -webkit-flex-basis: 31%;
  -ms-flex-preferred-size: 31%;
  flex-basis: 31%;
  margin: 20px 0
}

.getInfo__submit {
  width: 263px;
  height: 50px;
  background-color: #FFCC00;
  color: #000;
  text-transform: uppercase;
  border: 0;
  outline: 0;
  cursor: pointer
}

.getInfo__text {
  color: #000;
}

.getInfo input {
  width: 263px;
  height: 50px;
  border: 0;
  padding: 0 15px 0 30px;
  border-bottom: 1px solid #000;
  background: 0 0;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  outline: 0;
}

.getInfo input:active,
.getInfo input:focus {
  border-color: #FFCC00;
}

.getInfo .phone {
  background: url(../img/mobile1.svg) no-repeat 0% 50%
}

.getInfo .person {
  background: url(../img/person1.svg) no-repeat 0% 50%
}

.getInfo .mail {
  background: url(../img/mail1.svg) no-repeat 0% 50%
}

.getInfo .place {
  background: url(../img/place.svg) no-repeat 0% 50%
}

.jq-file {
  width: 265px;
  height: 50px;
  background: url(../img/file.svg) no-repeat 20px 50%, #FFCC00;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 25px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 20px auto;
  z-index: 2;
  cursor: pointer
}

.jq-file__name {
  font-size: 14px;
  position: absolute;
  bottom: 0
}

.dropArea,
.dz-default {
  width: 100%;
  min-height: 228px
}

.dz-default {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 0;
  z-index: 1;
  margin: 0 auto
}

.dropArea label {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 1;
}

.dropArea {
  position: relative;
  margin: 0 auto 50px;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: rgba(0, 0, 0, .05);
  border: 1px dashed #000
}

.singleService__text {
  color: #fff;
  margin-bottom: 0px;
  padding-right: 30px
}

.price__menu a {
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.price__menu a span {
  -webkit-flex-basis: 35%;
  -ms-flex-preferred-size: 35%;
  flex-basis: 35%;
  text-align: right;
  font-size: 16px;
  padding-right: 15px
}

.price__download {
  width: 279px;
  height: 50px;
  -webkit-box-shadow: 0 14px 21px rgba(65, 10, 12, .26);
  box-shadow: 0 14px 21px rgba(65, 10, 12, .26);
  background-color: #FFCC00;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  margin-bottom: 50px;
  margin-left: auto
}

.price__download:hover {
  -webkit-box-shadow: none;
  box-shadow: none
}

.price__item {
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px
}

.price__block {
  margin-left: 30px;
  margin-top: 20%
}

.price__image {
  max-width: 217px;
  height: 217px;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  margin-right: 30px
}

.price__desc,
.price__name {
  margin-bottom: 30px;
  color: #000
}

.price__name {
  text-transform: uppercase;
}

.price__num {
  color: #FFCC00;
}

.objectItem {
  margin-bottom: 50px;
  display: none
}

.objectItem-name {
  display: inline-block;
  margin: 15px 0 10px;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  color: #000;
}

.objectItem-name:hover {
  color: #f33;
  text-decoration: underline
}

.objectItem-desc {
  color: #000;
}

.object__partners {
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 40px 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}

.object__partner {
  margin: 40px 0;
  -webkit-flex-basis: 24%;
  -ms-flex-preferred-size: 24%;
  flex-basis: 24%;
  text-align: center
}

.singleObject__image {
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  margin-bottom: 30px;
}

.sinlgeObject p {
  color: #000;
  margin-bottom: 20px
}

.contactsPage {
  padding: 40px 0;
  background: #fff
}

.contactsPage__title {
  color: #000;
  text-transform: uppercase;
  margin-bottom: 40px
}

.contacts__info-item {
  display: flex
}

.contacts__info-name {
  color: #231f20;
  -webkit-flex-basis: 35%;
  -ms-flex-preferred-size: 35%;
  flex-basis: 35%;
}

.contacts__info-desc,
.contacts__info-desc a {
  color: #231f20;
}

.contacts__info-desc a {
  color: #ef3f4f;
  text-decoration: underline
}

.contacts__notify {
  margin: 10px 0 35px;
  color: #231f20;
}

.contacts__subTitle {
  color: #231f20;
  text-transform: uppercase
}

.contacts__station,
ul.contacts__address-list li {
  color: #231f20;
}

.contacts__station span,
ul.contacts__address-list li span {
  font-weight: 300
}

.map {
  width: 100%;
  height: 670px;
  margin-bottom: 40px;
  position: relative;
}

.contacts__download {
  text-transform: uppercase;
  color: #000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 345px;
  width: 100%;
  height: 50px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  border: 2px solid #ef3f4f;
  background-color: #fff
}

.header__contacts-ref {
  position: relative;
  text-align: center;
  border: 1px solid #FFCC00;
  color: #000;
  padding: 10px;
  background-color: #FFCC00;
  margin-bottom: 15px;
  box-shadow: 0px 10px 10px rgb(0 0 0 / 10%);
}

.header__contacts-ref:hover {
  text-decoration: none;
  color: #000;
  background-color: transparent;
}

.header__slider .swiper-slide .container {
  position: relative;
  z-index: 2;
}

.closeModal {
  position: absolute;
  right: 0;
  top: -52px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.closeModal:hover {
  opacity: 1;
}

.closeModal:before,
.closeModal:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #fff;
}

.closeModal:before {
  transform: rotate(45deg);
}

.closeModal:after {
  transform: rotate(-45deg);
}

.news__item:nth-child(2) .news__image img,
.news__item:nth-child(3) .news__image img,
.news__item:nth-child(4) .news__image img {
  height: 140px;
}

.news__item:nth-child(1) .news__image img {
  height: 280px;
}

.about__content .price__block {
  margin-top: 0;
  margin-left: 0;
  overflow-x: hidden;
}

.services__all#service_link {
  margin-bottom: 70px;
  display: none;
}

.service-card {
  width: 200px;
  height: 200px;
  margin: 10px;
  color: #fff;
  padding: 15px 15px 15px 25px;
  transition: all .3s linear;
  position: relative;
}

.service-card p {
  z-index: 11;
}

.service-card:hover {
  color: #000;
}

.service-card:before {
  content: "";
  display: block;
  width: 100%;
  height: 0%;
  background-color: #fff;
  opacity: 0.5;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
  transition: all .3s linear;
}

.service-card:hover:before {
  height: 100%;
}

.service-card:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #333;
  opacity: 0.5;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 10;
  transition: all .3s linear;
}

.service-card:hover:after {
  height: 0%;
}

.objectToService__item {
  height: 200px;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  padding: 15px;
  position: relative;
}

.objectToService__item:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 0, 0, .8);
  -moz-transition: all 0.6s ease;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.6s;
  -webkit-transition-timing-function: ease;
  opacity: 0.3;
}

.objectToService__item-inner {
  position: relative;
  z-index: 2;
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -moz-transition: all 0.6s ease;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.6s;
  -webkit-transition-timing-function: ease;
  opacity: 0;
}

.objectToService__item-inner h3 {
  font-family: 'Calibri';
  margin-bottom: 10px;
}

.objectToService__item-inner p {
  font-size: 12px;
  margin-top: 1px;
  line-height: 1.4;
}

p {
  margin-bottom: 10px;
}

ul {
  margin-bottom: 15px;
}

.objectToService__item:hover .objectToService__item-inner,
.objectToService__item:hover:before {
  opacity: 1;
}

.section__inner {
  padding: 50px 0;
}

.section__title {
  text-align: center;
  margin-bottom: 25px;
  color: #000;
  text-transform: uppercase;
}

.section__title_white {
  text-align: center;
  margin-bottom: 25px;
  color: #fff;
  text-transform: uppercase;
}

.accordion-wrp {
  width: 100%;
  background: #fff;
  border-radius: 4px;
}

.accordion-wrp .accordion__item.open .accordion__item-link {
  color: #FFCC00;
  border-bottom: 1px solid #FFCC00;
}

.accordion-wrp .accordion__item.open .accordion__item-link .fa-chevron-down {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.accordion-wrp li:last-child .accordion__item-link {
  border-bottom: 0;
}

.accordion__item-link {
  cursor: pointer;
  display: block;
  padding: 15px;
  border-bottom: 1px solid #ccc;
  color: #212121;
  position: relative;
  transition: all 0.4s ease-out;
}

.accordion__item-link span:first-child,
.accordion__item-cnt span:first-child {
  width: 80%;
}

.accordion__item-link span:last-child,
.accordion__item-cnt span:last-child {
  width: 20%;
}

.accordion__item-link i {
  position: absolute;
  top: 17px;
  left: 16px;
  transition: all 0.4s ease-out;
}

.accordion__item-link .fa-chevron-down {
  right: 12px;
  left: auto;
}

.accordion__item-cnt-wrp {
  width: 100%;
  display: none;
  background: #efefef;
}

.accordion__item-cnt-wrp .accordion__item-cnt {
  border-bottom: 1px solid #B6B6B6;
}

.accordion__item-cnt {
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  ;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
  color: #727272;
  padding: 12px 15px 12px 35px;
  transition: all 0.4s ease-out;
}

.price-accordion__item {
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
  margin-bottom: 25px;
}

.price-accordion__item .accordion__item-link {
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
}

.section__service-price .accordion__item-cnt-wrp {
  display: block !important;
}

.about__info {
  background: url(../img/aboutcontent-v2.png) red fixed no-repeat 50% 50% / cover;
  /*background: url(../img/aboutcontent.png) red fixed no-repeat 50% 50% / cover;*/
}

.about__info p {
  color: #fff;
  text-align: justify;
  font-family: "Verdana";
}

.about__grid {
  overflow: hidden;
}

.about__grid-row {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  /*     -webkit-flex-wrap: wrap;
-moz-flex-wrap: wrap;
-ms-flex-wrap: wrap;
-o-flex-wrap: wrap;
flex-wrap: wrap;
justify-content: s */
  pace-between;
  -ms-align-items: center;
  align-items: center;
}

.about__grid-col {
  padding: 40px;
  position: relative;
  width: 50%;
  min-height: 435px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}

.about__grid-row:first-child .about__grid-col:first-child:before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 1170px;
  height: 100%;
  background: url(../img/about__bg_2.jpg) no-repeat 50% 40% / cover;
}

.about__grid-row:nth-child(2) .about__grid-col:nth-child(2):before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1170px;
  height: 100%;
  background: url(../img/about__bg_4.jpg) no-repeat 50% 35% / cover;
}

.about__grid-row:last-child .about__grid-col:first-child:before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 1170px;
  height: 100%;
  background: url(../img/about__bg_3.jpg) no-repeat 50% 46% / cover;
}

.about__grid-col h4 {
  margin-bottom: 15px;
  text-align: center;
}

.about__img a {
  width: 22%;
  height: 200px;
  display: block;
}

.about__img img {
  height: 100%;
}

.contacts_bot {
  background-color: rgba(74, 102, 147, 0.4);
  padding: 100px 0;
}

.contacts_bot-item {
  text-align: center;
  color: #000;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}

.contacts_bot-item-img {
  position: absolute;
  top: 14px;
  left: 0;
}

.contacts_bot-item-img img {
  width: 50px;
}

.contacts_item_box {
  background: #FFFFFF;
  border-radius: 5px;
  padding: 14px 27px 13px 69px;
  position: relative;
  text-align: left;
  min-height: 114px;
  width: 370px;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.contacts_bot-item-title {
  font-weight: 500;
  margin-bottom: 14px;
}

.contacts_bot-item-text {
  color: #9B9B9B;
  font-size: 14px;
}

.phone_link {
  font-weight: 700;
  color: #272626;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  line-height: 1;
}

.email_link {
  font-size: 14px;
  color: #272626;
  margin-bottom: 10px;
  display: block;
  margin-top: 7px;
}

.jGrowl.top-right {
  top: 36% !important;
  width: 30% !important;
  left: 35% !important;
}

.jGrowl-notification:first-child {
  display: none !important;
}

.jGrowl-notification {
  background-color: #000 !important;
  opacity: .9 !important;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=(0.9*100)) !important;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=(0.9*100)) !important;
  zoom: 1 !important;
  width: 100% !important;
  padding: 55px 20px !important;
  margin: 0 !important;
  text-align: center !important;
  display: none !important;
  border-radius: 5px !important;
  min-height: 70px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  position: relative !important;
}

.jGrowl-notification .jGrowl-close {
  background-color: transparent !important;
  color: inherit !important;
  border: none !important;
  z-index: 99 !important;
  float: none !important;
  font-weight: 700 !important;
  font-size: 1.6em !important;
  cursor: pointer !important;
  position: absolute !important;
  top: 3px !important;
  right: 6px !important;
}

.about__tabs ul {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}

.about__tabs ul li {
  margin: 0 15px 40px;
}

.about__tabs ul a {
  color: #000;
  border: 1px solid #000;
  font-size: 13px;
  font-weight: 600;
  padding: 10px 15px;
}

.about__tabs ul a:hover {
  -webkit-box-shadow: 0px 0px 14px -2px rgba(92, 0, 0, 1);
  -moz-box-shadow: 0px 0px 14px -2px rgba(92, 0, 0, 1);
  box-shadow: 0px 0px 14px -2px rgba(92, 0, 0, 1);
}

.about__tabs ul li.is-active a {
  color: #fff;
  border: 1px solid #FFCC00;
  background: #FFCC00;
}

.list-circle,
.list-disc,
.list-square {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  padding-left: 17px;
}

.list-circle li {
  list-style-type: circle;
  margin-bottom: 4px;
}

.list-disc li {
  list-style-type: disc;
  margin-bottom: 4px;
}

.list-square li {
  list-style-type: square;
  margin-bottom: 4px;
}

.table_price ul {
  list-style: none;
}

.table_price li {
  width: 100%;
  position: relative;
  padding: 15px 15px 15px 60px;
  background-color: #e3e3e3;
  margin: 10px 0;
  cursor: pointer;
}

li .left_item,
li .right_item {
  width: 49%;
  display: inline-block;
}

li .right_item {
  text-align: right;
}

li .left_item {
  text-align: left;
}

.table {
  border-collapse: collapse;
}

.table_price h2 {
  cursor: pointer;
  background: rgba(255, 29, 29, 0.85);
  color: #fff;
  padding: 15px 20px;
  margin: 10px 0;
}

.price_list_desc_name {
  display: block !important;
}

.wrapper_block_list {
  display: none;
}

.wrapper_block_list td,
.wrapper_block_list th {
  width: 40%;
  border: 1px solid #FFCC00;
  height: 50px;
  text-align: center;
}

.table_text_wrapper {
  display: none;
  padding-bottom: 20px;
  margin-top: 15px;
}

.table_text_wrapper p {
  font-style: italic;
}

.plus_price {
  position: absolute;
  left: 20px;
}

.table_text_wrapper li {
  padding: 0;
  list-style: disc;
}

.table_text_wrapper p {
  padding: 0 0 20px 0;
}

.content {
  padding: 20px 0 40px;
}

.objects__list .pagination {
  display: none;
}

.price__table {
  margin-top: 20px;
  margin-bottom: 20px;
}

.price__table table {
  margin-top: 10px;
  width: 100%;
}

.price__table td,
.price__table th {
  width: 40%;
  border: 1px solid #FFCC00;
  height: 50px;
  text-align: center;
}

.table_price td {
  padding: 10px 15px;
}

.table_price td:first-child {
  text-align: left;
}

.objectRegion {
  margin-bottom: 25px;
}

.objectItem:not(last-child) {
  margin-bottom: 20px;
}

.objectItem-ttl {
  font-weight: 600;
  margin-bottom: 8px;
}

.objectItem-descr {
  font-size: 14px;
  line-height: 1.4;
}

.enterprise-card p {
  font-size: 14px;
}

.container {
  /* max-width: 1140px; */
  max-width: 1200px;
}

@media (max-width: 1200px) {
  .navigation__menu a:after {
    display: none;
  }

  .header__logo {
    border-right: transparent;
  }

  .ower_rules__item__wrapper {
    flex-direction: column;
    align-items: center !Important;
  }

  .ower_rules__item__wrapper__row {
    margin-bottom: 24px;
  }

  .ower_rules__title {
    font-size: 32px !Important;
  }

  .section_subtitle {
    font-size: 18px !Important;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }

  .ower_rules__title {
    font-size: 24px !Important;
  }

  .section_subtitle {
    font-size: 16px !Important;
  }
}

.openMenu {
  display: none;
}

.reviews__item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 15px;
}

.reviews__item:hover {
  box-shadow: 0px 0px 27px rgba(0, 0, 0, 0.7);
}

.reviews__item a {
  display: block;
  flex-basis: 15%;
  margin-right: 20px;
  margin-bottom: 20px;
}

.reviews__item img {
  max-width: 100%;
  border: 1px solid grey;
}

.reviews__item img:hover {
  opacity: 0.7;
  -webkit-transition: .3s sall;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.reviews__item p {
  font-size: 20px;
  font-weight: bold;
}

.reviews__item p span {
  opacity: 0.6;
  font-size: 16px;
}

.newsPage .swiper-button-prev3,
.newsPage .swiper-button-next3 {
  background-color: #FFCC005c;
}

.newsPage .swiper-button-prev3:hover,
.newsPage .swiper-button-next3:hover {
  background-color: #FFCC00;
  border-color: #FFCC00;
}

/* fix fancybox */
@keyframes fanopacity {
  from {
    opacity: 0 !important;
  }

  to {
    opacity: 1 !important;
  }
}

body .fancybox-image {
  /*animation-delay: 2s;*/
  animation-duration: 2.4s;
  animation-name: fanopacity;
  /*animation-iteration-count: 1;*/
  /*animation-timing-function: linear;*/
}

/* /fix fancybox */
.our-services__left {
  background: url(/assets/img/servicesBg.png);
  background-repeat: repeat;
  background-size: cover;
}

.servicesPage .servicesBg:before {
  display: none;
}

.our-services__right .servicesPage__title {
  margin-top: 10px;
}

.icon-tel {
  left: 20px !important;
  top: -2px !important;
}

.header__contacts-tel {
  text-align: right;
}

.contacts-image img {
  width: 176px;
  height: 150px;
  margin: 7px;
}

.contacts-image {
  margin: 50px 0 0;
  display: flex;
  flex-wrap: wrap;
}

.adavant {
  padding-top: 96px;
  background: #F4F4F4;
  padding-bottom: 96px;
}

.adavant_row {
  display: flex;
  flex-wrap: wrap;
}

.adavant_col {
  max-width: 50%;
  width: 100%;
}

.adavant_item {
  position: relative;
  padding-left: 101px;
  max-width: 90%;
  margin-bottom: 69px;
}

.adavant_item:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: url(/assets/img/ok.svg) #fff no-repeat center center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: block;
}

.adavant_item_title {
  font-size: 25px;
  margin-bottom: 16px;
  color: #000;
  font-weight: 500;
}

.adavant_item_text {
  line-height: 1.4;
}

.pay_box {
  text-align: center;
}

.pay_box p {
  font-size: 25px;
  color: #000000;
  line-height: 30px;
  font-weight: 500;
  margin-bottom: 23px;
}

.get_money {
  background: #E5E5E5;
  padding-top: 105px;
  padding-bottom: 97px;
}

.get_money_item {
  position: relative;
  max-width: 270px;
  width: 100%;
}

.get_money_item_num {
  background: #FFCC00;
  width: 56px;
  height: 56px;
  font-size: 20px;
  color: #272626;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
}

.get_money_item:first-child .get_money_item_num:before {
  content: '';
  background: url(/assets/img/num_border01.svg) no-repeat center center;
  position: absolute;
  top: -10px;
  left: -10px;
  width: 39px;
  height: 39px;
  display: block;
}

.get_money_item:nth-child(2) .get_money_item_num:before {
  content: '';
  background: url(/assets/img/num_border02.svg) no-repeat center center;
  position: absolute;
  top: -10px;
  left: -10px;
  width: 76px;
  height: 39px;
  display: block;
}

.get_money_item:nth-child(3) .get_money_item_num:before {
  content: '';
  background: url(/assets/img/num_border03.svg) no-repeat center center;
  position: absolute;
  top: -10px;
  left: -10px;
  width: 76px;
  height: 76px;
  display: block;
}

.get_money_item:nth-child(4) .get_money_item_num:before {
  content: '';
  background: url(/assets/img/num_border04.svg) no-repeat center center;
  position: absolute;
  top: -10px;
  left: -10px;
  width: 76px;
  height: 76px;
  display: block;
}

.get_money_item_img {
  background: #F2F2F2;
  border-radius: 5px;
  padding: 6px;
  margin: 6px;
  border: 6px solid #E5E5E5;
  box-shadow: 0 0 4px #ABA7A6;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 43px;
  width: 170px;
  margin: 0 auto;
}

.get_money_item_info {}

.get_money_item_title {
  margin-top: 26px;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
}

.get_money_item_text {
  margin-top: 24px;
  text-align: center;
}

.get_money_list {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  margin-top: 89px;
}

.calculator {
  position: relative;
  border-radius: 5px;
  padding: 30px;
  vertical-align: top;
  max-width: 500px;
  background: #FFFFFF;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

#demo {
  visibility: hidden;
  height: 0;
  margin-top: 0;
  padding: 0;
}

.calculator h2 {
  margin-bottom: 8px;
  font-size: 30px;
  text-transform: uppercase;
}

.calculator h2.modal__recall-title {
  margin-bottom: 50px;
}

.calculator .form-label {
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 7px;
  color: #000000;
}

.calculator label {
  font-weight: 400;
  display: block;
}

.-bold {
  font-weight: bold;
}

.-center {
  text-align: center;
}

.form-top {
  margin-bottom: 37px;
  font-size: 16px;
}

.calculator .term-investment label.form-label {
  margin-right: 0;
  display: inline;
}

.amount .slider {
  visibility: hidden;
}

.calculator .form-control {
  margin: 0;
  width: 100%;
  color: #000;
  outline: none;
  font-size: 17px;
  line-height: 26px;
  padding: 5px 15px;
  display: inline-block;
  background: #fff;
  border: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.calculator button,
.calculator input {
  transition: all .3s ease-in-out;
  border-radius: 6px;
}

.calculator .amount {
  padding-top: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.calculator .irs--flat {
  height: 0;
}

#demo {
  margin-top: 16px;
}

.calculator .amount .irs {
  margin: 0 3px;
  top: 0;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

.calculator .irs {
  position: relative;
  display: block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.irs-grid {
  position: absolute;
  display: none;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
}

.amount .irs-bar {
  /* position: absolute; */
  display: block;
  /* top: -2px;
  height: 5px; */
  background: #FFCC00;
  /* left: 1px !important; */
  -webkit-border-radius: 0 0 0 10px;
  border-radius: 0 0 0 10px;
}

.irs-bar-edge {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
}

.irs-shadow {
  position: absolute;
  display: none;
  left: 0;
  width: 0;
}

.irs--round .irs-bar {
  top: 0;
}

.irs-single {}

.irs--round .irs-line {
  background: #272626;
  top: 0;
}

.amount .irs-handle {
  top: -7px;
  width: 20px;
  height: 20px;
  z-index: 4;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #FFCC00;
  border: none;
}

.irs--round .irs-handle.state_hover,
.irs--round .irs-handle:hover {}

.irs--round .irs-single {
  font-size: 16px;
  background-color: transparent;
  color: #000;
  border-radius: 0;
  top: 20px
}

.irs--round .irs-from:before,
.irs--round .irs-to:before,
.irs--round .irs-single:before {
  display: none;
}

.irs-handle {
  position: absolute;
  display: block;
  cursor: default;
  z-index: 1;
}

.calculator .term-investment label.form-label {
  margin-right: 5px;
}

.calculator .term-investment__button {
  cursor: pointer;
  margin-left: 10px;
  font-size: 13px;
  color: #272626;
  border: 1px solid #C4C4C4;
  padding: 11px;
  box-sizing: border-box;
  border-radius: 3px;
}

.calculator .term-investment__button {
  margin-left: 10px;
}

.calculator .term-investment__button.active {
  color: #fff;
  background: #272626;
  border: 1px solid #272626;
}

.term-investment {
  padding-bottom: 28px;
  border-bottom: 1px solid #C4C4C4;
}

.calculator .credit_payment-block {
  font-size: 16px;
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.credit_payment_val {
  font-size: 30px;
  margin-left: 30px;
  font-weight: bold;
}

.credit_payment_cur {
  color: #000;
}

.calculator .btn-group {
  padding-bottom: 0;
  text-align: center;
}

.irs-min,
.irs-max {
  display: none;
}

.calculator .btn {
  margin: 0 auto;
  color: #000;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 20px;
  padding: 20px;
  font-size: 14px;
  text-align: center;
  position: relative;
  background: #FFCC00;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  display: block;
  text-decoration: none;
  background-image: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  max-width: 304px;
  width: 100%;
}

.calculator .btn:active {
  background: #c09c00;
}

.calculator .btn:hover {
  color: #000;
  background: #fbba01;
  text-decoration: none;
}

.calculator .form-group {
  margin-bottom: 20px;
}

.calculator .irs--round {
  height: 0;
}

.accept-an-agreement {
  display: block;
  text-align: left;
  position: relative;
  padding-left: 31px;
  margin-top: 17px;
  margin-bottom: 40px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #000;
}

.accept-an-agreement__text {
  display: inline-block;
  font-size: 12px;
  line-height: 1.6;
  text-align: left;
}

.accept-an-agreement input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.accept-an-agreement input:checked~.accept-an-agreement-custom-checkbox {
  background-color: #FCCD02;
}

.accept-an-agreement .accept-an-agreement-custom-checkbox {
  position: absolute;
  top: 3px;
  left: 0;
  border: 1px solid rgba(146, 133, 133, 0.51);
  width: 18px;
  height: 18px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #d6d6d6;
  -webkit-transition: .3s background;
  -o-transition: .3s background;
  transition: .3s background;
}

.accept-an-agreement .accept-an-agreement-custom-checkbox:after {
  content: "";
  position: absolute;
  display: none;
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.accept-an-agreement input:checked~.accept-an-agreement-custom-checkbox:after {
  display: block;
}

.calculator-info-text {
  margin: 0;
  padding: 26px 0 0;
  border-top: 1px solid #C4C4C4;
  font-size: 12px;
  font-size: 11px;
  color: #ABA7A6;
  line-height: 17px;
}

.header__slider {
  background: url(../img/slide01.png) no-repeat;
  display: block;
  width: 100%;
  height: 776px;
  display: flex;
  align-items: center;
  background-position: top;
  background-size: cover;
}

.header__slider .calculator {
  margin-right: 0;
  margin-left: auto;
}

.middle {
  font-size: 20px
}

.logo_box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
  justify-content: center;
}

.logo_item {
  width: 170px;
  height: 105px;
  margin-right: 30px;
  background: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo_item:last-child {
  margin-right: 0;
}

.block_info {
  margin-top: 40px;
  margin-bottom: 40px;
}

.block_info_title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 16px;
}

.block_row {
  display: flex;
  flex-wrap: wrap;
}

.block_col {}

.block_col_left {
  width: 300px;
  font-weight: bold;
  font-size: 18px
}

.block_col_right {}

.block_col_right ul {}

.block_col_right ul li {
  position: relative;
  padding-left: 25px;
}

.block_col_right ul li:before {
  content: '\2022';
  position: absolute;
  top: 0;
  left: 0;
}

.slide2 {
  background: url(../img/slide02.png) no-repeat;
  display: block;
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  background-position: top;
}

.header__slider__content {
  background-color: rgba(255, 255, 255, .8);
  max-width: 500px;
  margin-left: auto;
  margin-right: 0;
  padding: 40px;
}

.header__slider__content ul li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 20px;
}

.header__slider__content ul li:before {
  content: '\2714';
  position: absolute;
  top: 0;
  left: 0;
}

.slide2 .header__slider h1 {
  background: transparent;
}

.object__partners-slider img {
  max-height: 90px;
  max-width: 150px
}

.section_title {
  font-size: 40px;
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  margin-bottom: 66px;
}

.-hide-desctop {
  display: none;
}

.footer__center {
  max-width: 400px;
  margin-right: 16px;
  margin-left: 16px;
}

.footer_text {
  font-size: 12px;
  max-width: 500px;
}

.footer_text p {
  margin-bottom: 5px;
}

.reestr-num {
  white-space: nowrap;
}


@media (max-width: 568px) {
  .logo_box {
    margin: 20px -8px 0;
  }

  .logo_box .logo_item {
    width: calc(50% - 16px);
    margin: 0 8px 10px;
  }

  .logo_box .logo_item:last-child {
    width: calc(50% - 16px) !important;
  }

  .ower_rules__item__wrapper__row {
    flex-direction: column;
    align-items: center !Important;
    margin-bottom: 0 !Important;
  }

  .ower_rules__item {
    margin-bottom: 20px !Important;
  }
}

.ower_rules {
  padding-top: 0 !Important;
}

.footer__item-name__wrapper {
  display: flex;
  justify-content: space-between;
}

.footer__item-name__logo {
  height: 50px;
  margin: 0 10px;
}

.footer__item-name__logo:first-child {
  margin: 0 10px 0 0;
}

.footer__item-name__logo:last-child {
  margin: 0 0 0 10px;
}

.footer__item-name__logo img {
  height: 25px;
}

.ower_rules {
  padding: 0 0 96px 0;
  background: #F4F4F4;
}

.ower_rules__title {
  font-size: 40px;
  font-weight: bold;
  text-align: cenetr;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.section_subtitle {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 44px;
  line-height: 23px;
  color: #606060;
}

.ower_rules__item__wrapper {
  display: flex;
  justify-content: center;
  align-items: start;
}

.ower_rules__item__wrapper__row {
  display: flex;
  justify-content: center;
  align-items: start;
}

.ower_rules__item {
  display: block;
  position: relative;
  width: 269px;
  height: 416px;
  margin: 0 12px;
  cursor: pointer;
  padding: 0 17px;
  color: rgb(0, 0, 0) !Important;

  background: #FFFFFF;
  border: 2px solid #E1E1E1;
  box-sizing: border-box;
  border-radius: 6px;
}

.ower_rules__item:hover {
  border: 2px solid #FDC633;
}

.ower_rules__item__text__header {
  margin: 17px 0 6px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #737373;
}

.ower_rules__item__img {
  width: 100%;
  margin-top: 24px;
  height: 74px;
}

#mig_credit_logo {
  background: url('../img/logos/mig_credit_logo.svg') center no-repeat;
  background-size: contain;
}

#kesh_drive_logo {
  background: url('../img/logos/kash_drive.svg') center no-repeat;
  background-size: contain;
}

#car_money_logo {
  background: url('../img/logos/carmoney_logo.svg') center no-repeat;
  background-size: contain;
}

#bistro_dengi_logo {
  background: url('../img/logos/FastManey.svg') center no-repeat;
  background-size: contain;
}

#dengi_srazu_logo {
  background: url('../img/logos/dengi-srazu.svg') center no-repeat;
  background-size: contain;
}

.text-bold {
  font-weight: bold;
}

.ower_rules__item__button__wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 20px;
  left: 0;
  width: 100%;
}

.ower_rules__item__button__wrapper__button {
  font-size: 14px;
  padding: 10px;
  border: none;
  background: #FFCC00;
  box-shadow: 0px 10px 10px rgb(0 0 0 / 10%);
  border-radius: 3px;
  text-transform: uppercase;
}

.calculator .calculator__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calculator .calculator__row img {
  max-width: 20%
}

.font-size-35px {
  font-size: 35px;
}

.font-size-36px {
  font-size: 36px;
}


.font-size-24px {
  font-size: 24px;
}

.font-size-16px {
  font-size: 16px;
}

.br-5px {
  border-radius: 5px;
}

.text-tr-none {
  text-transform: none;
}

.margin-bottom-75px {
  margin-bottom: 75px;
}


.margin-top-none {
  margin-top: 0 !important;
}

.contact-link {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid black;
}

.text-uppercase {
  text-transform: uppercase;
}

.adavant_item.icon-adv-rul:before {
  background: url('/assets/img/rul.svg') #fff;
  background-repeat: no-repeat;
  background-position: center;
}

.adavant_item.icon-adv-usercard:before {
  background: url('/assets/img/user-card.svg') #fff;
  background-repeat: no-repeat;
  background-position: center;
}

.adavant_item.icon-adv-cheese:before {
  background: url('/assets/img/cheese.svg') #fff;
  background-repeat: no-repeat;
  background-position: center;
}

.adavant_item.icon-adv-hour:before {
  background: url('/assets/img/hour.svg') #fff;
  background-repeat: no-repeat;
  background-position: center;
}

.adavant_item.icon-adv-noreject:before {
  background: url('/assets/img/noreject.svg') #fff;
  background-repeat: no-repeat;
  background-position: center;
}

.adavant_item.icon-adv-arrowprocent:before {
  background: url('/assets/img/arrowprocent.svg') #fff;
  background-repeat: no-repeat;
  background-position: center;
}

.adavant_item.icon-adv-handkey:before {
  background: url('/assets/img/handkey.svg') #fff;
  background-repeat: no-repeat;
  background-position: center;
}

.adavant_item.icon-adv-calendarcredit:before {
  background: url('/assets/img/calendarcredit.svg') #fff;
  background-repeat: no-repeat;
  background-position: center;
}

.adavant_item.icon-adv-email-mark:before {
  background: url('/assets/img/email-mark.svg') rgba(244, 244, 244, 1);
  background-repeat: no-repeat;
  background-position: center;
}

.adavant_item.icon-adv-phone:before {
  background: url('/assets/img/phone.svg') rgba(244, 244, 244, 1);
  background-repeat: no-repeat;
  background-position: center;
}

.adavant_item.icon-adv-map-marker:before {
  background: url('/assets/img/map-marker.svg') rgba(244, 244, 244, 1);
  background-repeat: no-repeat;
  background-position: center;
}

.adavant_item.icon-adv-clock-time-three:before {
  background: url('/assets/img/clock-time-three.svg') rgba(244, 244, 244, 1);
  background-repeat: no-repeat;
  background-position: center;
}

.footer-link {
  color: black;
  text-decoration: none !important;
  border: none;
  outline: none;
  width: 100%;
  text-align: center;
}


.margin-bottom-18px {
  margin-bottom: 8px !important;
}

.margin-bottom-50px {
  margin-bottom: 50px !important;
}

.margin-bottom-19px {
  margin-bottom: 19px !important;
}



.margin-left-30proc {
  margin-left: 30%;
}

.text-center {
  text-align: center;
}

.input-styles {
  width: 270px;
  height: 60px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid rgba(39, 38, 38, 0.15) !important;
}

.max-width-680 {
  max-width: 680px;
}

.flex-50 {
  flex: 0 0 50%;
  display: flex;
  justify-content: center;
}

.bg-color-white {
  background: white;
}

.contact-col {
  max-width: 100%;
}

.contact-col .adavant_item:before {
  top: -20px !important;
}

.contact-description {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 13px;
  color: rgba(39, 38, 38, 0.5);

}

.contact-name {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.hided-link {
  transition: all 0.2s linear;
  opacity: 0;
}

.pos-absolute {
  position: absolute !important;
}



@media (min-width: 1000px) {
  .hide-desktop {
    display: none !important;
  }
}

@media (max-width: 1000px) {
  .hide-mobile {
    display: none !important;
  }
}

.gahsenie-section {
  padding: 40px 0;
  background: #fff;
}

.gashenie-section__title {
  font-size: 36px;
  margin-bottom: 47px;
}

.justifycontent-spacebetween {
  justify-content: space-between;
}

.gashenie-item__title {
  text-align: center;
  font-size: 24px;
  color: #272626;
  font-style: normal;
  font-weight: bold;
}

.gashenie-item__list {
  display: flex;
  flex-direction: column;
}

.gashenie-item__list-li {
  display: flex;
  max-height: 120px;
  margin-bottom: 25px;
  align-items: center;
}

.gashenie-item__list-li-text {
  color: #272626;
  font-style: normal;
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  max-width: 450px;
}

.gashenie-item__list-li-icon {
  position: relative;
  background: url(/assets/img/gashenie-icon.svg) no-repeat center center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: block;
  margin-right: 25px;
  flex-shrink: 0;
}

.gashenie-item__image {
  display: block;
  width: 100%;
  display: block;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.gashenie-item__image img {
  border-radius: 10px;
  width: 570px;
  height: 250px;
}

.relative-pos {
  position: relative;
}

.second-calculator {
  display: none;
}

.calculator-switchers {
  display: inline-flex;
  position: absolute;
  top: 0px;
  z-index: 1;
  width: 100%;
  height: 41px;
  right: 0;
  justify-content: space-between;
}


.calculator-switcher-item {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: bold;
  background: #FFCC00;
}


.calculator-switcher-item.active {
  background:white;
  border-right: none;
  border-bottom: none;
}

.calculator-switcher-item.switcher-left{
  border-radius: 4px 0 0 0;
}

.calculator-switcher-item.switcher-right{
  border-radius: 0 4px 0 0;
}

.calculator-switcher-item.switcher-right:not(.active):hover{
  border-radius: 0 4px 0 0;
}

.calculator-switcher-item.switcher-left:not(.active):hover{
  border-radius:  4px 0 0 0;
}

.calculator-switcher-item:hover {
    color: #000;
    background: #fbba01;
    text-decoration: none;
    border-radius: 4px 0 0 0;
}

.calculator-switcher-item.active:hover {
    color: #000;
    background: white;
    text-decoration: none;
    border-radius: 0 4px 0 0;
}

/* .switcher-left{
  border-right:1px solid #C4C4C4;
} */

.calculator-switcher-item.switcher-left.active {
  /* border-right:1px solid #C4C4C4; */
  border-left: none;
  border-bottom: none;
}

.calculator-switcher-item.switcher-left.active {
  border-radius: 4px 0 0 0;
}

.calculator-switcher-item.switcher-right.active {
  border-radius: 0 4px 0 0;
}

/* .calculator-switcher-item.switcher-right{
  border-bottom:1px solid #C4C4C4;
}

.calculator-switcher-item.switcher-left{
  border-bottom:1px solid #C4C4C4;
} */

.calculator-switcher-item.active {
  border-bottom: none;
}

#demo-two {
  visibility: hidden;
  height: 0;
  margin-top: 16px;
  padding: 0;
}



.floating-modal {
  display: none;
  position: absolute;
  width: 148px;
  height: 71px;
  padding-top: 17px;
  background-color: #272626;
  top: 5px;
  left: -6px;
  padding-left: 5px;
  border-radius: 0 0 8px 8px;
  z-index: 2;
}

.zindex-for-link {
  z-index: 3;
}

.pos-absolute.first {
  top: 22px;
}

.pos-absolute.second {
  top: 48px;
  width: max-content;
}

.link-for-hover:hover~.floating-modal {
  display: block;
}

.floating-modal:hover {
  display: block;
}

.button-contacts {
  width: 263px;
  height: 60px;
  background-color: #FFCC00;
  color: rgba(39, 38, 38, 1);
  border: 0;
  outline: 0;
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
  font-family: Gotham Pro;
  text-transform: none;
  box-shadow: 0px 10px 10px rgb(0 0 0 / 10%);
  border-radius: 0;
}

@media (min-width: 1000px) {
  .button-contacts:hover {
    color: #000;
    background: #fbba01;
    text-decoration: none;
  }
}

.color-gray-contact {
  color: rgba(39, 38, 38, 0.5);
}


.slider {
  position: absolute !important;
    top: 5% !important;
    left: 15% !important;
    max-width: 472px !important;
    height: 605px !important;
    z-index: 1;
    border-bottom: 35px solid white;
}

.slider__container {
  overflow: hidden;
  max-height: 100% !important;
}

.slider__wrapper {
  max-height: 100% !important;
}

.slider__items {
  max-height: 100% !important;
}

.slider__item {
  flex: 0 0 100%;
  max-width: 100%;
  user-select: none;
  max-height: 100%;
  text-align: center;
  display: flex;
}

.slider__item img {
  padding: 35px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.slider__control {
  width: 48px !important;
  height: 48px !important;
  border-radius: 50%;
}

.slider__control {
  color: #ffc401 !important;
  border: #ffc401 1px solid !important;
  background-color: white !important;
}

.slider__control:focus,
.slider__control:hover {
  color: #ffc401 !important;
  border: #ffc401 1px solid !important;
  background-color: white !important;
  text-decoration: none !important;
  outline: 0 !important;

}

.slider__control[data-slide=next]::before {
  background-image: url(/assets/img/slider-arrow.svg) !important;
  width: 12px !important;
  height: 12px !important;
}

.slider__control[data-slide=next] {
  right: 10px !important;
}

.slider__control[data-slide=prev]::before {
  background-image: url(/assets/img/slider-arrow.svg) !important;
  transform: rotate(180deg);
  width: 12px !important;
  height: 12px !important;
}

.slider__control[data-slide=prev] {
  left: 10px !important;
}

.gallery-slider-mobile {
  position: relative !important;
  top: 0 !important;
  left: 0 !important;
  margin: 0 auto;
}

.col-mb-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-toggler .line:first-child {
  transform: rotate(0) translateY(0);

}

.navbar-toggler .line:nth-child(2) {
  opacity: 1;
}

.navbar-toggler .line:last-child {
  transform: rotate(0) translateY(0);

}

.burger-opened .line:first-child {
  transform: rotate(45deg) translateY(11.5px);
}

.burger-opened .line:nth-child(2) {
  opacity: 0;
}

.burger-opened .line:last-child {
  transform: rotate(-45deg) translateY(-11.5px);
}

.footer__pay-button {
  padding: 10px 15px;
  background: #FFCC00;
  font-size: 14px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgb(0 0 0 / 10%);
}

@media (min-width: 1000px) {
  .footer__pay-button:hover {
    color: #000;
    background: #fbba01;
    text-decoration: none;
  }

  .footer__pay-button:active {
    background: #c09c00;
  }
}

.second-calculator .term-investment__button {
  padding: 9px;
  padding-top: 11px;
  padding-bottom: 11px;
}

.getInfo__row input {
  border-radius: 0;
}

/* 14.10.21 */

.faq-title{
  font-weight: bold;
  font-size: 36px;
  line-height: 34px;
  color: #272626;
  margin-bottom: 66px;
}

.faq-section{
  margin-bottom:75px;
}

.faq-section-title{
  background: #F4F4F4;
  font-weight: bold;
  font-size: 24px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  color: #272626;
  padding:23px 0;
  margin: 0;
  margin-bottom:25px;
}

.faq-questions-block{
  margin-bottom: 25px;
}


.faq-opening-block-button{
  color: #272626;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
  background: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  display:flex;
  align-items: center;
  text-transform: uppercase;
  font-family:'Gotham Pro';
  margin-bottom:9px;
}

.faq-opening-block-button:before{
  content:'';
  display:block;
  width: 48px;
  height:48px;
  background-image: url('/assets/img/faq/faq_quest_closed.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  margin-right:20px;
  flex-shrink: 0;
}

.faq-opening-block-button:after{
  content:'';
  display:block;
  width: 13px;
  height:13px;
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover ;
  background-image: url('/assets/img/faq/faq_cross.svg');
  margin-left:13px;
  transition: all 0.2s ease-out;
  flex-shrink: 0;
}

.faq-opening-block-button.active:before{
  background-image: url('/assets/img/faq/faq_quest_opened.svg');
}

.faq-opening-block-button.active:after{
 transform: rotate(45deg);
}

.faq-description{
  margin-left:68px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.faq-description p{
  font-size: 18px;
  line-height:24px;
}

/* 3.11.21 */
.privacy-text,
.privacy-link{
  max-width: 370px;
  font-size: 12px;
}

.privacy-text{
  color: black;
}

.privacy-link{
  margin-top:5px;
}

.telegram-button{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #4a90e2;
  border: 2px solid #4a90e2;
  padding: 12px 15px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 6px;
  max-width:240px;
  width: 100%;
  margin: 0 auto;
  margin-top: 15px;
}

.telegram-button span{
  font-size: 13px;
  flex-grow: 1;
  text-align: center;
  max-width: -webkit-fill-available;
}

.telegram-logo{
  display:block;
  background-size: cover;
  background: url(../img/telegram.svg) no-repeat center center;
  width: 28px;
  height: 28px;
}

/* 15.11.21 */

.pay-form{
  display:flex;
  flex-direction: column;
}

.pay-form input{
  margin:0;
  margin-bottom:10px;
  width: 75%;
}

.pay-form input.contract{
  background: url(../img/contract_icon.svg)#fff no-repeat 16px 50%;
  background-size: 23px;
}

.pay-form input.sum{
  background: url(../img/ruble_icon.svg)#fff no-repeat 16px 50%;
  background-size: 23px;
}

.pay-form input.commentary{
  background: url(../img/commentary_icon.svg)#fff no-repeat 16px 50%;
  background-size: 23px;
}

.pay-form input.sum::-webkit-outer-spin-button,
.pay-form input.sum::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

.pay-form input.sum{
  -moz-appearance: textfield;
}

.pay-form input.sum:hover,
.pay-form input.sum:focus {
  -moz-appearance: number-input;
}

.pay-form input.sum::-webkit-inner-spin-button,
.pay-form input.sum::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.faq-questions-block.article .faq-opening-block-button::after{
  display: none;
}

.faq-questions-block.article .faq-opening-block-button::before{
  background-image: url('/assets/img/book_icon.svg');
  background-color: #ffcc00;
  border-radius:50%;
  background-size: 30px;
}

/* 1.12.21 */
  .black-text{
    color:black;
  }
/*  */