@media(min-width:769px) {
  .header-logo-hided {
    display: none
  }
}

@media(max-width:1200px) {
  .adavant__list {
    font-size: 20px
  }

  .news__title {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .get-money {
    margin-top: 40px;
  }

  .get-money__list p {
    font-size: 20px
  }

  .why__title {
    padding: 40px 0;
  }

  .why__row {
    flex-wrap: wrap
  }

  .why__item {
    padding-bottom: 40px;
  }

  .why__row .bottom {
    padding-bottom: 40px;
  }

  .why__item-name {
    font-size: 16px
  }

  .newsletter {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .footer__top {
    flex-wrap: wrap;
  }

  .footer__item {
    padding: 6px;
  }

  .header__logo {
    padding-right: 16px;
  }

  .header__contacts {
    max-width: 200px;
  }

  .adavant__list li {
    margin: 0;
  }

  .header__top__col-menu {
    max-width: 75%;
  }

  .header__top__col-phone {
    max-width: 25%;
  }

  .header_phone {
    max-width: 100%;
    text-align: left;
  }

  .navigation__menu li {
    padding-right: 16px;
  }

  .header__top__row {
    align-items: center;
  }

  .header__top__col-address {
    max-width: 25%;
  }

  .header__top__col-work {
    max-width: 25%;
  }

  .header__top__col-btn {
    max-width: 25%;
    width: 100%;
  }

  .top__btn {
    width: 100%;
  }

  .get_money_item {
    max-width: 25%;
    width: 100%;
  }

  .get_money_item_title {
    font-size: 18px;
    line-height: 1.4;
    min-height: 50px;
  }

  .get_money_item_info {
    padding-left: 6px;
    padding-right: 6px;
  }

  .adavant_item_title {
    font-size: 22px
  }

  .section_title {
    font-size: 34px
  }

  .newsletter__form button,
  .newsletter__form input {
    width: 30%;
  }

  #modal_order .newsletter__form input,
  #callback .newsletter__form input {
    max-width: 40%;
    width: 100%;
  }

  #modal_order_second .newsletter__form input,
  #callback .newsletter__form input {
    max-width: 40%;
    width: 100%;
  }

  #modal_order,
  #callback {
    max-width: 90%;
  }

  #modal_order_second,
  #callback {
    max-width: 90%;
  }

  .pay-form input{
    width: 92%!important;
  }

  .pay-form button[type="submit"] {
    width: 92%!important;
  }
}

@media(max-width:992px) {
  .header__slider .calculator {
    margin-right: 0;
    margin-left: auto;
  }

  .header__logo {
    width: auto;
  }

  .navigation__menu li {
    padding-right: 0;
  }

  .navigation__menu li:last-child {
    padding-right: 0;
  }

  .navigation__menu a {
    font-size: 14px
  }

  .header__top__col-menu {
    max-width: 100%;
  }

  .-hide-desctop {
    display: block;
  }

  .header__top__col-btn {
    display: none;
  }

  .header__top__col-phone {
    width: 100%;
    max-width: 100%;
  }

  .header_top_phone {
    width: 50%;
  }

  .header__top__col-phone {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F4F4F4;
  }

  .header__top__btn {
    padding: 19px 15px 20px 23px;
  }

  .calculator {
    background: rgba(256, 256, 256, 0.5);
  }

  .calculator-switcher-item.active,
  .calculator-switcher-item.active:hover{
    background:rgba(229,229,229,0.2);
  }

  .section_title {
    font-size: 32px
  }

  .adavant_item_title {
    font-size: 20px
  }

  .adavant_item:before {
    width: 60px;
    height: 60px;
  }

  .adavant_item {
    padding-left: 80px;
  }

  .pay_box p {
    font-size: 20px
  }

  .logo_item {
    margin-right: 10px;
  }

  .object__partners-slider .swiper-slide {
    width: 210px;
    padding: 14px;
  }

  .why__item-name {
    margin-top: 0;
    color: #fff !important;
    font-size: 14px;
  }

  .why__item-more {
    display: none;
  }

  .why__item-img {
    min-height: 194px;
  }

  .newsletter__form input {
    padding: 16px 16px 16px 61px;
  }

  .contacts_bot-item {
    max-width: 50%;
    width: 100%;
  }

  .contacts_item_box {
    margin-bottom: 20px;
  }

  .contacts_bot-item:last-child .contacts_item_box {
    margin-bottom: 0;
  }

  .align-items-center {
    justify-content: center;
  }

  .closeModal:before,
  .closeModal:after {
    top: 15px
  }

  .margin-left-30proc {
    margin-left: 0;
  }

  .contact-col .adavant_item:before {
    top: 0 !important;
  }

  .telegram-button{
    padding: 10px 12px;
    padding-right: 0;
  }

  /* 15.11.21 */

  .pay-form input{
    width: 92%!important;
  }

  .pay-form button[type="submit"] {
    width: 92%!important;
  }

  #callback_qiwi_modal{
    width: 95%!important;
  }
}

@media(max-width:975px) {
  .col-mb-center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text-center-mobile {
    text-align: center;
  }

  .gashenie-item__list-li {
    max-height: none;
  }

  .gashenie-item__image img {
    height: 180px;
  }

  .gashenie-item__image img:before {
    content: '';
    display: block;
    padding-top: 61.80%;
  }

  .link-for-hover:hover~.floating-modal {
    display: none;
  }

  .floating-modal:hover {
    display: none;
  }

  .faq-title{
    font-size: 30px;
    text-align:center;
    margin-bottom:30px;
  }

  .faq-section-title{
    font-size: 18px;
    line-height:18px;
    padding:18px 0;
  }

  .faq-opening-block-button{
    font-size: 14px;
    line-height:24px;
    margin-bottom:20px;
  }

  .faq-opening-block-button:before {
    margin-right: 10px;
    width: 36px;
    height:36px;
  }

  .faq-opening-block-button:after{
    margin-left: 11px;
  }

  .faq-description {
    margin-left:0;
  }

  .faq-description p{
    line-height: 20px;
  }
}

@media(max-width:768px) {
  .header__logo {
    order: 10;
    max-width: 100%;
    padding: 0;
  }

  .header__logo.text-center {
    text-align: center;
  }

  .header__contacts-tel {
    order: 40;
    max-width: 50%;
    margin-top: 0 !important;
  }

  .header__contacts__address {
    order: 20
  }

  .header__contacts__work {
    order: 30
  }

  .header__logo img {
    margin: auto;
  }

  .header__contacts {
    text-align: left;
  }

  .header__contacts-desc,
  .header__contacts-ref {
    font-size: 14px
  }

  .header__contacts-info span {
    display: none;
  }

  .header__contacts-info {
    border-bottom: none !important
  }

  #menu {
    z-index: 2;
  }

  .openMenu {
    display: block;
    text-align: right;
  }

  .svg-inline--fa.fa-w-14 {
    color: #000 !important;
    width: 28px;
    height: 28px;
  }

  .navigation {
    position: relative;
  }

  .navigation__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 63%;
  }

  .navbar_wrap {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 40px;
    z-index: 5;
    height: 0;
    transition: all 0.5s;
    visibility: hidden;
    opacity: 0;
    z-index: 5;
  }

  .navbar_wrap.active {
    display: block;
    height: auto;
    visibility: visible;
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: white;
  }

  .navbar-toggler {
    background: transparent;
    width: 45px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    border: none;
    margin-left: auto;
    outline: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 6;
  }

  .navbar-toggler:focus {
    border: none;
    outline: none;
  }

  .navbar-toggler .line {
    width: 45px;
    background: #000;
    color: #000;
    width: 100%;
    height: 3px;
    display: block;
    margin-bottom: 5px;
  }

  .header_top_menu {
    margin-top: 16px;
  }

  .news__title {
    font-size: 30px
  }

  .get-money__list li {
    max-width: 50%;
    width: 100%;
  }

  .get-money img {
    max-width: 156px;
  }

  .get-money__list p {
    max-width: 100%;
    font-size: 16px;
  }

  .news__title {
    margin-bottom: 40px;
  }

  .why__item {
    flex: auto;
    max-width: 33%;
    width: 100%;
    margin: 0;
  }

  .contacts_bot-item {
    text-align: left;
    margin-bottom: 16px;
    justify-content: flex-start;
  }

  .contacts_bot-item-img {
    margin-right: 36px;
  }

  .contacts_bot-item-img img {
    width: 42px;
  }

  .newsletter__desc,
  .newsletter__form,
  .footer__top {
    margin-bottom: 24px;
  }

  .contacts_bot {
    padding: 30px 0;
  }

  .header__top {
    position: relative;
  }

  .header_top_phone {
    padding: 0;
  }

  .header__top__btn {
    padding: 0;
  }

  .header__contacts-tel {
    text-align: right;
  }

  .logo_item {
    width: 76px;
  }

  .logo_item:last-child {
    width: 160px !important;
  }

  .object__partners-slider img {
    max-height: 100px;
  }

  .header__top {
    background: #f4f4f4;
  }

  .navigation__menu a {
    color: #000;
    line-height: 1.4;
    font-size: 24px;
  }

  .header_top_phone {
    width: 50%;
  }

  .header__top__btn {
    width: 30%;
    margin-right: 67px;
  }

  .header__top__col-phone {
    align-items: flex-start
  }

  .adavant_col {
    max-width: 100%;
  }

  .adavant_item {
    max-width: 100%;
    margin-bottom: 30px;
  }

  .logo_item {
    width: 200px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .logo_item:last-child {
    width: 200px !important;
  }

  .get_money_item {
    max-width: 50%;
    margin-bottom: 70px;
  }

  .get_money_item:nth-child(3),
  .get_money_item:nth-child(4) {
    margin-bottom: 0;
  }

  .object__partners-slider .swiper-slide {
    width: auto
  }

  .why__item {
    max-width: 50%;
  }

  .why__item-img {
    min-height: auto;
    margin-bottom: 10px;
  }

  .why__item-img img {
    height: 150px;
  }

  .newsletter__form button,
  .newsletter__form input {
    width: 47%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .newsletter__form {
    justify-content: space-around;
  }

  .footer__bottom {
    display: block;
  }

  .footer__develop {
    display: block;
    text-align: right;
  }

  .footer__develop span {
    display: block;
    text-align: right;
  }

  .footer__center {
    margin-left: 0;
  }

  .footer__pay-button {
    width: 100%;
    text-align: center;
  }

  #modal_order .newsletter__form input,
  #callback .newsletter__form input {
    max-width: 90%;
    width: 100%;
  }

  #modal_order_second .newsletter__form input,
  #callback .newsletter__form input {
    max-width: 90%;
    width: 100%;
  }

  #modal_order,
  #callback {
    padding-left: 20px;
    padding-right: 20px;
  }

  #modal_order_second,
  #callback {
    padding-left: 20px;
    padding-right: 20px;
  }

  .header_top_phone_row .header_phone:nth-child(1) {
    order: 10;
  }

  .header_top_phone_row .header_phone:nth-child(2) {
    order: 30;
  }

  .header_top_phone_row .header_phone:nth-child(3) {
    order: 20;
  }

  .header_top_phone_row .header_phone:nth-child(4) {
    order: 40;
  }

  .getInfo__submitBlock {
    order: 90
  }
}


@media(max-width:671px) {
  .header_phone {
    width: 100%;
  }

  .header_top_phone {
    width: 35%;
  }

  .header__top__btn {
    width: 40%;
  }

  .header__top__col-phone {
    justify-content: flex-start;
  }

  .header__top__btn {
    margin-right: 0;
  }

  .header__top__col-logo {
    width: 100%;
  }

  .header__top__col-address {
    max-width: 100%;
    width: 100%;
    padding-left: 20px;
  }

  .header__top__col-work {
    max-width: 100%;
    width: 100%;
    padding-left: 20px;
  }

  .header__info__row {
    justify-content: center;
  }

  .header__contacts-info {
    display: inline;
  }

  .header__contacts-desc {
    display: inline;
  }

  .contacts_info {
    line-height: 1.4;
    margin-bottom: 5px;
  }

  .header__logo {
    margin-bottom: 0;
  }
}

@media(max-width:575px) {
  .header__logo {
    margin-bottom: 0;
  }

  .header__contacts:nth-child(2),
  .header__contacts:nth-child(3) {
    display: block;
    max-width: 100%;
    position: relative;
    top: -20px;
  }

  .header__contacts-tel {
    text-align: left;
  }

  .header__top {
    margin-bottom: 0;
  }

  .header__contacts {
    font-size: 14px;
  }

  .header__contacts-tel {
    width: 100%;
    max-width: 100%;
  }

  .navigation {
    margin-top: 20px;
  }

  .navigation__menu a {
    font-size: 23px;
  }

  .header__slider {
    height: auto;
    background-size: cover;
    padding: 20px 0;
  }

  .term-investment label,
  .term-investment .term-investment__button {
    display: block;
  }

  .calculator .form-group {
    margin-bottom: 10px;
  }

  .calculator .term-investment__button {
    margin-left: 0;
    text-align: center;
    line-height: 2;
  }

  .credit_payment_val {
    margin-left: 0;
    font-size: 20px;
    display: inline-block;
    width: 80%;
    text-align: right;
  }

  .adavant__list {
    font-size: 16px;
    line-height: 1.4;
  }

  .middle {
    font-size: 16px;
  }

  .logo_item {
    margin-bottom: 20px;
  }

  .get-money__list li {
    max-width: 100%;
  }

  .object__partners-slider-wrp {
    padding: 0 40px;
  }

  .slider-btns .swiper-button-prev2 {
    left: -40px;
  }

  .slider-btns .swiper-button-next2 {
    right: -40px
  }

  .why__title {
    font-size: 24px;
  }

  .why__item {
    max-width: 100%;
  }

  .why__item-name {
    margin-bottom: 20px;
  }

  .footer__item-name {
    margin-bottom: 20px;
  }

  .why__item {
    min-height: auto;
  }

  .newsletter__desc,
  .newsletter__form,
  .footer__top {
    margin-bottom: 0;
  }

  .header__top__col-phone {
    display: block;
  }

  .header_phone {
    font-size: 14px;
  }

  .header_top_phone {
    width: 80%;
  }

  .header__top__btn {
    width: 100%;
  }

  .top__btn {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }

  body {
    font-size: 14px;
  }

  .top__btn span {
    font-size: 12px;
  }

  .calculator h2 {
    font-size: 20px;
  }

  .calculator .form-label,
  .calculator .credit_payment-block {
    font-size: 14px;
  }

  .calculator .term-investment__button {
    padding: 0;
    margin-bottom: 5px;
  }

  .calculator .btn {
    padding: 10px;
  }

  .credit_payment-result {
    width: 100%;
  }

  .section_title {
    font-size: 24px
  }

  .get_money_item,
  .contacts_bot-item {
    max-width: 100%;
  }

  .adavant_item_title {
    font-size: 18px;
  }

  .adavant_item:before {
    width: 45px;
    height: 45px;
    background-size: 30px;
  }

  .adavant_item {
    padding-left: 54px;
  }

  .adavant,
  .get_money,
  .object__partners-slider-wrp,
  .why {
    padding-top: 46px;
    padding-bottom: 46px;
  }

  .section_title {
    margin-bottom: 36px;
  }

  .get_money_item_title {
    min-height: auto;
  }

  .get_money_item:nth-child(3) {
    margin-bottom: 70px;
  }

  .why__row .bottom {
    padding-bottom: 0;
  }

  .newsletter__form button,
  .newsletter__form input {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0;
  }

  .newsletter__desc {
    font-size: 14px;
  }

  .newsletter__info {
    margin-top: 20px;
    font-size: 12px;
  }

  .contacts_item_box {
    margin-bottom: 0;
  }

  .footer__logo {
    margin-right: auto;
    padding-right: 0;
    margin-left: auto;
  }

  .footer__logo:after {
    display: none;
  }

  .footer__top__wrap {
    padding-top: 40px;
    padding-bottom: 0;
  }

  .footer__item {
    padding: 0;
  }

  .why__item:last-child {
    padding-bottom: 0;
  }

  .closeModal {
    top: 0;
    right: 0;
    width: 55px;
    height: 55px;
  }

  .closeModal:before,
  .closeModal:after {
    background-color: #000;
  }

  .modal__recall-title {
    font-size: 20px
  }

  .header__slider {
    background: #dad9d9;
  }

  .contacts_item_box {
    margin-left: auto;
    margin-right: auto;
  }

  .footer__copy {
    flex-wrap: wrap
  }

  .footer__copy-info {
    max-width: 100%;
    width: 100%;
    text-align: center;
  }

  .footer__center {
    text-align: center;
    max-width: 100%;
    margin-top: 16px;
  }

  .footer__item {
    padding-bottom: 10px;
  }

  .social_link {
    margin-right: 10px;
  }

  .header__logo {
    text-align: center;
  }

  .form-calc .js-amount-gap {
    display: block;
  }

  #modal_order .newsletter__form input,
  #callback .newsletter__form input {
    font-size: 12px;
    max-width: 100%
  }

  #modal_order_second .newsletter__form input,
  #callback .newsletter__form input {
    font-size: 12px;
    max-width: 100%
  }

  .calculator h2.modal__recall-title,
  .modal__recall-title {
    margin-bottom: 24px;
  }

  .why {
    background: #272626;
  }

  .contacts-image {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .contacts-image a {
    display: block;
    max-width: 50%;
    padding: 5px;
  }

  .contacts-image img {
    margin: 0;
  }

  .getInfo {
    padding: 40px 0;
  }

  .getInfo__subTitle {
    margin-bottom: 0;
  }

  .getInfo__field {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    text-align: center;
  }

  .getInfo__text br {
    display: none;
  }

  .getInfo__field {
    margin: 10px 0;
  }

  .getInfo input {
    height: 36px;
  }

  .header_top_phone_row .header_phone:nth-child(2) {
    display: none;
  }

  .header_top_phone_row .header_phone:nth-child(4) {
    display: none;
  }

  .object__partners-slider-wrp {
    display: none;
  }

  .why {
    display: none;
  }

}

/* Ipad */
@media (max-width: 768px) and (max-height:1024px)and (min-width: 767px) and (min-height:1023px) {
  .margin-left-30proc {
    margin-left: 30%;
  }

  .gashenie-item__image img {
    height: 280px;
  }
}

@media (max-width: 360px) {
  .gashenie-item__image img {
    height: 130px;
  }
}